@import "tailwindcss";

/* 테일윈드 css 커스텀 */
@theme {
  --color-primary: #337ceb;
  --color-secondary: #fffafa;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  /* 최대 너비 수정 */
  --breakpoint-xs: 365px;
  --breakpoint-sm: 460px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* container */
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Custom", serif;
  overflow-x: hidden;
}

@font-face {
  font-family: "Custom";
  src: url(/font.ttf);
}

.button_hover {
  @apply bg-black/90 transition-colors;
}
