@import "tailwindcss";

/* 테일윈드 css 커스텀 */
@theme {
  --color-primary: #337CEB;

  /* 최대 너비 수정 */

}

html, body {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Custom", serif;
  overflow-x: hidden;
}

@font-face {
  font-family: "Custom";
  src: url(/font.ttf);
}

.button_hover {
  @apply bg-black/90 transition-colors;
}